@{
    ViewData["Title"] = "Home Page";

}
@model RouteWithTwoIds.Models.MasterDetailModel

<h1>Try different URLs below:</h1>

<ul>
    <li><a href="@Url.Action("Detail", "Master", new {id = 1, id2 = 2})">@Url.Action("Detail", "Master", new {id = 1, id2 = 2})</a></li>
</ul>